[defaults]
inventory = ./inventory/
roles_path = ./roles
remote_user = ubuntu               # 원격 서버 접속 계정 설정
host_key_checking = False           
interpreter_python = auto_silent   


# sudo 권한 상승 설정 (거의 모든 작업에 root 권한 필요)
[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

# SSH 연결 최적화
[ssh_connection]
pipelining = True
