[defaults]
# 수동 인벤토리 파일로 고정 (지금 단계)
inventory = inventory/

# role 경로
roles_path = ./roles

# 기본 접속 계정
remote_user = ubuntu

# GitOps/Runner에서 필수 (프롬프트 방지)
host_key_checking = False

# 파이썬 인터프리터 자동 감지
interpreter_python = auto_silent

# 재시도/속도/출력 품질 (운영 편의)
retry_files_enabled = False
timeout = 30
stdout_callback = yaml
bin_ansible_callbacks = True

# (선택) 기본 키 경로를 고정할 경우
# private_key_file = /home/ubuntu/.ssh/<YOUR_KEY>.pem

[inventory]
enable_plugins = aws_ec2

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False


[ssh_connection]
pipelining = True

# 속도 개선(권장)
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
control_path = ~/.ssh/ansible-%%r@%%h:%%p

