# roles/monitoring_stack/templates/dashboards-provider.yml.j2
# Grafana의 대시보드 프로비저닝 설정 파일
apiVersion: 1

providers:
  - name: 'Default Dashboard Provider' 
    orgId: 1
    folder: 'General'                 
    type: file
    disableDeletion: false             
    editable: true                     
    options:
      # 도커 컴포즈에서 볼륨으로 연결한 컨테이너 내부 경로
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: true
